.button__signin {
  background-color: var(--main-text-color);
  color: var(--main-background-color);
  margin-top: 215px;
}

.button__signin:hover {
  opacity: var(--button-save-opacity);
}

@media screen and (max-width: 470px) {
  .button__signin {
    font-size: 16px;
    line-height: 19px;
    margin-top: 170px;
  }
}