.form__input_type_password {
  background-color: var(--main-background-color);
  border-bottom: 2px solid var(--input-sign-color);
  color: var(--main-text-color);
}

.form__input_type_password::placeholder {
  color: var(--input-sign-color);
}

.form__input_type_password:focus {
  border-bottom: 2px solid var(--main-text-color);
}

.form__input_type_password:hover::placeholder {
  color: var(--main-text-color);
}